.popular-heading-main{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-heading-main p{
    width: 68%;
}
.image-wrapper img{
    height: 100% !important;
    width: 100% !important;
}
.image-wrapper {
    padding-bottom: 0rem;
}
@media (max-width: 700px) {

    .country-top-destination {
        margin-top: 72px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
@media (max-width: 376px) {
    .tour-boxes div {
        margin-left: 0.4rem !important;
    }
    .country-top-destination {
        margin-top: 72px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 821px) {
    .events-box { 
        width: 350px;
    }
    .video-background{
        height: 59vh !important;
    }

}
@media (max-width: 770px) {
    .video-background{
        height: 70vh !important;
    }
}
@media (max-width: 415px) {
    .video-background{
        height: 80vh !important;
    }
}
@media (max-width: 390px) {
    .country-top-destination{
        padding: 0rem 0.2rem !important;
    }
}
@media (max-width: 376px) {
    .video-background{
        height: 103vh !important;
    }
}

@media (max-width: 768px) {
    .Home2Blog {
        padding-left: 20px;
        padding-right: 20px;
    }
    .overlay-of-image {
        flex-direction: row;
        background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%) !important;
    }
    .overlay-content h3{
        font-size: 1.6rem;
    }
}
@media (max-width: 506px) {

    .overlay-content h3{
        font-size: 1rem;
    }
}